.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #121212;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding-left: 100px;
}
@media screen and (max-width: 480px) {
  .home {
    padding-left: 10px;
  }
}

.hero-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.heading {
  color: aliceblue;
}
.button {
  width: 130px;
  background-color: blueviolet;
  height: 40px;
  color: aliceblue;
  font-weight: 700;
  border-radius: 10px;
}
